{% extends 'base.twig' %}
{% block content %}

	<p>Asignar Roles</p>
    

    <div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rol</th>

        </tr>
        {% for usr in users%}

        <tr>
    		<td>{{usr['nombre']}}</td>
    		<td>{{usr['apellido']}}</td>
            <td>{{usr['nombre_rol']}}</td>
            <td><a href="assingRoles_config.php?usr={{usr['id']}}&sum=1"><img src="../view/img/mas.png" alt="agregar" height="40" width="40"></a></td>
            <td><a href="assingRoles_config.php?usr={{usr['id']}}"><img src="../view/img/eliminar.png" alt="eliminar" height="40" width="40"></a></td>    
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
