{% extends 'base.twig' %}
{% block content %}
<div class="col-sm-4"></div>
    <div class="col-sm-4">
	<p>Configuracion del Hospital</p>
	<form action="config_hospital.php" method="POST">

		<input type="hidden" name="update" value="1">

		<div class="form-group">
		<label>Titulo:</label>
		<input type="text" name="title" placeholder="Ingrese el titulo" value="{{info[0]['titulo']}}" style="width: 200px;"> 
		</div>
		<div class="form-group">
		<label>Descripcion:</label>
		<textarea class="form-control" name="descrpt" rows="5" placeholder="Ingrese la descripcion" >{{info[0]['descripcion']}}</textarea>
		</div>
		<div class="form-group">
		<labe>Email:</labe>
		 <input type="email" name="email" value="{{info[0]['email']}}">
		</div>
		<div class="form-group">
		<label>Paginacion por Listado</label>
		<input type="number" name="pagination" placeholder="Numero de pagination" value="{{info[0]['paginacion']}}">
		</div>
		<div class="form-group">
		<label>Estado de la Pagina:</label><select name="enabled"><br>
								{% if info[0]['habilitado'] == 1%}
									<option value="{{1}}" selected> {{'Habilitado'}}</option>
									<option value="{{0}}"> {{'Bloqueado'}}</option>
								{% else %}
									<option value="{{0}}" selected> {{'Bloqueado'}}</option>
									<option value="{{1}}"> {{'Habilitado'}}</option>
								{% endif %}	
							</select>
		</div>

		<input type="submit" name="Aceptar" value="Aceptar">					

	</form>
</div>
{% endblock %}