{% extends 'base.twig' %}

{% block scripts %}
    <script type="text/javascript" src="../view/templates/js/redireccion.js"></script>
{% endblock %}

{% block content %}
	<p>Listar Usuarios</p>
    <div class="table-responsive">
    <table class="table table-striped" id="table">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>email</th>
            <th>Estado</th>

        </tr>
        {% for usr in users%}
        <tr>
    		<td>{{usr['nombre']}}</td>
    		<td>{{usr['apellido']}}</td>
    		<td>{{usr['email']}}</td>
    		{%if usr['activo'] == 1 %}
    			<td>{{'Activo'}}</td>
    		{%else%}
    			<td>{{'Bloqueado'}}</td>
    		{%endif%}		
	        <td><a href="changeState_user.php?usr={{usr['id']}}&state={{usr['activo']}}"><img src="../view/img/mas.png" alt="Listar" height="40" width="40"></a></td>
            <td><a href="register.php?usr={{usr['username']}}"><img src="../view/img/modificar.png" alt="Listar" height="40" width="40"></a></td>
	        <td><a href="remove_user.php?usr={{usr['id']}}" onclick="if(!confirm('¿Desea eliminar el usuario?'))return false;"><img src="../view/img/eliminar.png" alt="eliminar" height="40" width="40"></a></td>    
        </tr>
        {% endfor %}
    </table>

</div>

{% include 'links_pagination.twig'%}

{% endblock%}