{% extends 'base.twig' %}
{%block content%}

	<p>Registrar Paciente</p>

	{% if update != 1 %}

		<form action="../controller/registerData_patient.php" method="POST">
			<input type="hidden" name="updt" value="0">
			Apellido:<input type="text" name="lastname" placeholder="Apellido"> <br>
			Nombre:<input type="text" name="name" placeholder="Nombre"> <br>
			Fecha de Nacimiento:<input type="date" name="date" min="1930-01-01" max="2030-12-12"> <br>
			Genero: <select name="gender"><br>
						<option value="M">Masculino</option>
						<option value="F">Femenino</option>
					</select><br>
			Tipo Documento: <select name="typeDoc"><br>
								{%for doc in docs%}
									<option value="{{doc['id']}}">{{doc['nombre']}}</option>
								{%endfor%}	
							</select> <br>
			N° Documento: <input type="number" name="dni">  <br>
			Domicilio: <input type="text" name="address" placeholder="Ingrese su Domicilio"><br>
			Telefono: <input type="text" name="phone" placeholder="Ingrese un numero Telefonico"> <br>
			Obra social:<select name="socialWork"><br>
							{%for soc in social%}
								<option value="{{soc['id']}}">{{soc['nombre']}}</option>
							{%endfor%}	
						</select>
			  		<div>
  		<label class="radio-inline">Heladera: 	</label>
  		<label class="radio-inline"><input type="radio" name="Heladera" value ="0" required>Si</label>
		<label class="radio-inline"><input type="radio" name="Heladera" value="1">No</label>
		</div>
		<div>
  		<label class="radio-inline">Electricidad: 	</label>
  		<label class="radio-inline"><input type="radio" name="Electricidad" value ="0" required>Si</label>
		<label class="radio-inline"><input type="radio" name="Electricidad" value ="1">No</label>
		</div>
		<div>
  		<label class="radio-inline">Mascota(s): 	</label>
  		<label class="radio-inline"><input type="radio" name="Mascota" value ="0" required>Si</label>
		<label class="radio-inline"><input type="radio" name="Mascota" value ="1">No</label>
		</div>
  		<label for="sel1">Tipo de Vivienda:</label>
  		<select class="form-control" id="vivien" name="vivien" required>
    		{%for viv in vivienda%}
			<option value="{{viv['id']}}">{{viv['nombre']}}</option>
			{%endfor%}	
  		</select>
  		<br>
  		<label for="sel2">Tipo de Calefacción:</label>
  		<select class="form-control" id="calef" name="calef" required>
    		{%for cal in calefaccion%}
			<option value="{{cal['id']}}">{{cal['nombre']}}</option>
			{%endfor%}	
  		</select>
  		<br>
  		<label for="sel3">Tipo de Agua:</label>
  		<select class="form-control" id="water" name="water" required>
    		{%for ag in agua%}
			<option value="{{ag['id']}}">{{ag['nombre']}}</option>
			{%endfor%}	
  		</select>

			<input type="submit" name="Aceptar" value="Aceptar"><br>			 
		</form>

	{%else%}

		<form action="../controller/registerData_patient.php" method="POST">
			<input type="hidden" name="updt" value="1">
			<input type="hidden" name="ptn" value="{{patient[0]['id']}}">
			Apellido:<input type="text" name="lastname" placeholder="Apellido" value="{{patient[0]['apellido']}}"> <br>
			Nombre:<input type="text" name="name" placeholder="Nombre" value="{{patient[0]['nombre']}}"> <br>
			Fecha de Nacimiento:<input type="date" name="date" value="{{patient[0]['fecha_nac']}}"> <br>
			Genero: <select name="gender"><br>
						{% if patient[0]['genero']=='M'   %}
							<option value="M" selected>Masculino</option>
						{% else %}		
							<option value="F" selected>Femenino</option>
						{% endif %}	
					</select><br>
			Tipo Documento: <select name="typeDoc"><br>
								{%for doc in docs%}
									{% if patient[0]['tipo_doc_id'] == doc['id'] %}
										<option value="{{doc['id']}}" selected>{{doc['nombre']}}</option>
									{% else %}
										<option value="{{doc['id']}}">{{doc['nombre']}}</option>
									{% endif %}		
								{%endfor%}	
							</select> <br>
			N° Documento: <input type="number" name="dni" value="{{patient[0]['numero']}}">  <br>
			Domicilio: <input type="text" name="address" placeholder="Ingrese su Domicilio" value="{{patient[0]['domicilio']}}"><br>
			Telefono: <input type="text" name="phone" placeholder="Ingrese un numero Telefonico" value="{{patient[0]['tel']}}"> <br>
			Obra social:<select name="socialWork"><br>
							{%for soc in social%}
								{% if ptn[0]['obra_social_id'] == soc['id'] %}
									<option value="{{soc['id']}}" selected>{{soc['nombre']}}</option>
								{% else %}
									<option value="{{soc['id']}}">{{soc['nombre']}}</option>
								{%  endif %}		
								
							{%endfor%}	
						</select>

			<input type="submit" name="Aceptar" value="Aceptar"><br>			 
		</form>

	{% endif %}
{%endblock%}