{% extends 'base.twig'%}
{% block content %}
    <div class="row">
 <div class="col-sm-2"> </div>
 <div class="container">

    <p> Mostrar Datos Demograficos</p>

    <div class="table-responsive">
    <table class="table table-striped">

    <thead>
      <tr>
        <!-- <th>Paciente</th> -->
        <th>Heladera</th>
        <th>Electricidad</th>
        <th>Mascota</th>
        <th>Tipo de vivienda</th>
        <th>Tipo de calefaccion</th>
        <th>Tipo de agua</th>
      </tr>
    </thead>
    <tbody>

      {% for dd in datosDem %}
      <tr>
      {% if dd['heladera'] == "0" %}
      <td>Si</td>
      {% else %}
      <td>No</td>
      {% endif %}

      {% if dd['electricidad'] == 0 %}
      <td>Si</td>
      {% else %}
      <td>No</td>
      {% endif %}

      {% if dd['mascota'] == 0 %}
      <td>Si</td>
      {% else %}
      <td>No</td>
      {% endif %}

        <td>{{dd['tipo_vivienda_id']}}</td>
        <td>{{dd['tipo_calefaccion_id']}}</td>
        <td>{{dd['tipo_agua_id']}}</td>
        

       <td><a href="recoveryDatosDem.php?dd={{dd['id']}}"><img src="../view/img/mas.png" alt="Listar" height="40" width="40"></a></td>
          <td><a href="remove_datosDem.php?dd={{dd['id']}}"><img src="../view/img/eliminar.png" alt="eliminar" height="40" width="40"></a></td> 
       {% endfor %}  
      </tr>
        
    </tbody>
  </table>
</div>
</div>
  	


{% endblock %}