{% extends 'base.twig' %}
{% block content %}

    <p> Modificar Datos Demograficos</p>
    <div class="row">
 <div class="col-sm-4"> </div>
  <div class="col-sm-4">
    <form class="form-group" method="POST" action="../controller/update_datosDem.php">


      <input type="hidden" name="dd" value="{{datosDem[0]['id']}}">
      <div class="form-group">
      <label class="radio-inline">Heladera:   </label>
      {% if datosDem[0]['heladera'] == 0 %}
      <label class="radio-inline"><input type="radio" name="Heladera" value ="0" checked="checked" required>Si</label>
    <label class="radio-inline"><input type="radio" name="Heladera" value ="1">No</label>
    {% else %}
    <label class="radio-inline"><input type="radio" name="Heladera" value ="0" required>Si</label>
    <label class="radio-inline"><input type="radio" name="Heladera"  checked="checked" value ="1">No</label>
    {% endif %}
    </div>
    <div>
      <label class="radio-inline">Electricidad:   </label>
      {% if datosDem[0]['electricidad'] == 0 %}
      <label class="radio-inline"><input type="radio" name="Electricidad" value ="0"  checked="checked" required>Si</label>
    <label class="radio-inline"><input type="radio" name="Electricidad" value ="1">No</label>
    {% else %}
      <label class="radio-inline"><input type="radio" name="Electricidad" value ="0"  required>Si</label>
    <label class="radio-inline"><input type="radio" name="Electricidad" value ="1"  checked="checked">No</label>
    {% endif %}
    </div>
    <div>
      <label class="radio-inline">Mascota(s):   </label>
      {% if datosDem[0]['mascota'] == 0 %}
      <label class="radio-inline"><input type="radio" name="Mascota" value ="0" checked="checked" required>Si</label>
    <label class="radio-inline"><input type="radio" name="Mascota" value ="1">No</label>
    {% else %}
    <label class="radio-inline"><input type="radio" name="Mascota" value ="0" required>Si</label>
    <label class="radio-inline"><input type="radio" name="Mascota" value ="1" checked="checked">No</label>
    {% endif %}
    </div>
      <label>Tipo de Vivienda:</label>
      <select class="form-control" id="vivien" name="vivien" required>
        <option value="" disabled>Seleccione un tipo</option>
        {%for viv in vivienda%}
        {% if datosDem[0]['tipo_vivienda_id'] == viv['id'] %}
      <option value="{{viv['id']}}" selected>{{viv['nombre']}}</option>        
        {% else %}
      <option value="{{viv['id']}}">{{viv['nombre']}}</option>
      {% endif %}
      {% endfor %}  
      </select>
      <br>
      <label>Tipo de Calefacción:</label>
      <select class="form-control" id="calef" name="calef" required>
        <option value="" disabled>Seleccione un tipo</option>
        {%for cal in calefaccion%}
        {% if datosDem[0]['tipo_calefaccion_id'] == cal['id'] %}
         <option value="{{cal['id']}}" selected>{{cal['nombre']}}</option>
        {% else %}
      <option value="{{cal['id']}}">{{cal['nombre']}}</option>
      {% endif %}
      {% endfor %}  
      </select>
      <br>
      <label>Tipo de Agua:</label>
      <select class="form-control" id="water" name="water" required>
        <option value="" disabled>Seleccione un tipo</option>
        {%for ag in agua%}
         {% if datosDem[0]['tipo_agua_id'] == ag['id'] %}
      <option value="{{ag['id']}}" selected>{{ag['nombre']}}</option>
         {% else %}
      <option value="{{ag['id']}}">{{ag['nombre']}}</option>
      {% endif %}
      {% endfor %}  
      </select>
      <BR>
       <input name="submit" class="btn btn-success" type="submit" value="Aceptar">
    </form>

  </div>
   <div class="col-sm-4"></div>
</div>
{% endblock %}