{% extends 'base.twig' %}
{% block content %}

    <p> Modificar Datos Demograficos</p>
    <div class="row">
 <div class="col-sm-4"> </div>
  <div class="col-sm-4">
  	<form class="form-group" method="POST" action="../controller/update_datosDem.php">


      <!-- arreglar lo de los radios porque no se estan guardando bien
      y para que salgan checked aca -->

      <input type="hidden" name="dd" value="{{datosDem[0]['id']}}">
  		<div>
  		<label class="radio-inline">Heladera: 	</label>
      {% if datosDem[0]['heladera'] == 0 %}
  		<label class="radio-inline"><input type="radio" name="Heladera" value ="0" checked="checked" required>Si</label>
		<label class="radio-inline"><input type="radio" name="Heladera" value ="1">No</label>
    {% else %}
    <label class="radio-inline"><input type="radio" name="Heladera" value ="0"required>Si</label>
    <label class="radio-inline"><input type="radio" name="Heladera"  checked="checked" value ="1">No</label>
    {% endif %}
		</div>
		<div>
  		<label class="radio-inline">Electricidad: 	</label>
      {% if datosDem[0]['electricidad'] == 0 %}
  		<label class="radio-inline"><input type="radio" name="Electricidad" value ="0"  checked="checked" required>Si</label>
		<label class="radio-inline"><input type="radio" name="Electricidad" value ="1">No</label>
    {% else %}
      <label class="radio-inline"><input type="radio" name="Electricidad" value ="0"  required>Si</label>
    <label class="radio-inline"><input type="radio" name="Electricidad" value ="1"  checked="checked">No</label>
		{% endif %}
    </div>
		<div>
  		<label class="radio-inline">Mascota(s): 	</label>
      {% if datosDem[0]['mascota'] == 0 %}
  		<label class="radio-inline"><input type="radio" name="Mascota" value ="0" checked="checked" required>Si</label>
		<label class="radio-inline"><input type="radio" name="Mascota" value ="1">No</label>
    {% else %}
    <label class="radio-inline"><input type="radio" name="Mascota" value ="0" required>Si</label>
    <label class="radio-inline"><input type="radio" name="Mascota" value ="1" checked="checked">No</label>
    {% endif %}
		</div>
      <label for="sel1">Tipo de Vivienda:</label>
      <select class="form-control" id="vivien" name="vivien" required>
        {%for viv in vivienda%}
        {% if datosDem[0][tipo_vivienda_id] == viv['id'] %}
      <option value="{{viv['id']}}" selected>{{viv['nombre']}}</option>        
        {% else %}
      <option value="{{viv['id']}}">{{viv['nombre']}}</option>
      {% endif %}
      {%endfor%}  
      </select>
      <br>
      <label for="sel2">Tipo de Calefacción:</label>
      <select class="form-control" id="calef" name="calef" required>
        {%for cal in calefaccion%}
      <option value="{{cal['id']}}">{{cal['nombre']}}</option>
      {%endfor%}  
      </select>
      <br>
      <label for="sel3">Tipo de Agua:</label>
      <select class="form-control" id="water" name="water" required>
        {%for ag in agua%}
      <option value="{{ag['id']}}">{{ag['nombre']}}</option>
      {%endfor%}  
      </select>
  		<BR>
  		 <input name="submit" class="btn btn-success" type="submit" value="Aceptar">
  	</form>

  </div>
   <div class="col-sm-4"></div>
</div>
{% endblock %}